@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Edu+NSW+ACT+Foundation&family=Montserrat:wght@300&family=Raleway:wght@100&display=swap');
body{
    background-color: #fdf8f8;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fdf8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Raleway', sans-serif;
    
}

nav img {
    max-height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #7f2546;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.01s ease;
    text-transform: uppercase;
}

nav a:hover {
    border-bottom: 1px solid #7f2546;
}

@media only screen and (max-width:600px){
    nav ul{
        height:230px;
        flex-direction: column;
        text-align: center;
    }
}

.title{
  text-align: center;  
}
.text{
    align-items: center;
    text-align:center;
}
.que{
    text-align: center;
    font-size: 20px;

}
#quiz-form{
    align-items: center;
    text-align: center;
    
}
.label{  
    color: #7f2546;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    border:2px solid #7f2546;
    border-radius: 5px;
    padding:15px 20px 15px 20px;
    
  
   
   
    
}
input[type="radio"]:checked+label{
    background-color: #7f2546;
    color:#fdf8f8;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
input[type="radio"]{
    display: none;
}
.button{
    display: flex;
    gap:400px;
    margin-left: 33%;
    
 }
 button{
    padding:15px 10px 15px 10px;
    background-color: #7f2546;
    color:#fffdfe;
    border:none;
    border-radius: 5px;
    width: 100px;
}
button:hover{
    opacity: 0.8;
}

.parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
#answer{
    align-content: center;
    align-items: center;
     width: 300px; 
     height: 300px;
     word-break: keep-all;
    }
     #answer1{
        align-content: center;
        align-items: center;
         width: 300px; 
         height: 300px;
           
    }
    